.list-group{
    align-items: center;
    margin-top: 20px;
}

.form-control{
    margin-top: 10px;
    height: 50px;
}

.barra-tarefa-nova{
    max-width: 300px;
    margin: auto;
    margin-top: 100px;
}

.container{
    height: 350px;
    width: 700px;
    background: rgb(200, 240, 195);
    outline: none;
}

ul .concluido, .deletar{
    position: absolute;
}

ul .concluido{
right: 65px;
}

ul .deletar{
right: 0px;
}

.textarea{
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    height: 32px;
    cursor: pointer;
}

.concluir{
    text-decoration: line-through;
    text-align: center;
}

body{
    background-image: url(../img/Fundo.webp);
}